<% action_url = (post.persisted? ? post_url(post) : posts_url) %>
<% http_method = (post.persisted? ? "PATCH" : "POST") %>

<form action="<%= action_url %>" method="POST">
  <%= auth_token %>
  <input type="hidden" name="_method" value="<%= http_method %>"

  <label>Title:
    <input type="text" name="post[title]" placeholder="Title"
      value="<%= post.title %>">
  </label>

  <br><br>

  <label>URL (optional):
    <input type="text" name="post[url]" placeholder="URL"
      value="">
  </label>

  <br><br>

  <label>Content (optional):
    <br>
    <textarea name="post[content]" placeholder="Post content"
      rows="8" cols="40"><%= post.content %></textarea>
  </label>

  <br><br>

  <input type="submit">
</form>
